.home-page {
    padding: 20px;
  }
  
  .shoe-card {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
  }
  .size-option {
    margin-right: 20px;
  }
  